<div class="booking-form-widget" ng-cloak>
	<script type="text/ng-template" id="booking-form-widget/field/1">
		<div class="row">
			<div ng-if="!bookingVm.isCreatingPatient" class="col-sm-12">
				<label class="control-label" ng-class="{'invalid': !bookingVm.booking.patient.last_name || !bookingVm.booking.patient.first_name}">Patient Name</label>
				<opk-select ng-model="bookingVm.booking.patient"
				            ng-change="bookingVm.changePatient()"
				            options="item.last_name+(item.last_name && item.first_name ? ', ': '')+item.first_name for item in source.getPatients({query: $query}) track by item.id"
				            select-options="{listFilter: 'opkSearchPatient'}"
				            class="small"></opk-select>
				<div class="controls text-right"><a href="" ng-click="bookingVm.createPatient()">Create Patient</a></div>
			</div>
			<div ng-if="bookingVm.isCreatingPatient">
				<div class="col-sm-6" booking-check-patient-exists="bookingVm.booking.patient">
					<label class="control-label" ng-class="{'invalid': !bookingVm.booking.patient.last_name}">Last Name</label>
					<input type="text" ng-model="bookingVm.booking.patient.last_name" class='form-control input-sm name-field' placeholder='Type' />
				</div>
				<div class="col-sm-6" booking-check-patient-exists="bookingVm.booking.patient">
					<label class="control-label" ng-class="{'invalid': !bookingVm.booking.patient.first_name}">First Name</label>
					<input type="text" ng-model="bookingVm.booking.patient.first_name" class='form-control input-sm name-field' placeholder='Type' />
					<div class="controls text-right"><a href="" ng-click="bookingVm.selectPatient()">Select Patient</a></div>
				</div>
			</div>
		</div>
	</script>
	<script type="text/ng-template" id="booking-form-widget/field/2">
		<label class="control-label">M.I.</label>
		<input type="text" ng-model="bookingVm.booking.patient.middle_name" class='form-control input-sm' placeholder='Type' />
	</script>
	<script type="text/ng-template" id="booking-form-widget/field/3">
		<div class="patient-details--suffix">
			<label class="control-label">Suffix</label>
			<opk-select class="small disable-arrow" ng-model="bookingVm.booking.patient.suffix" key-value-options="patientConst.SUFFIXES" placeholder='Type or select'></opk-select>
		</div>
	</script>
	<script type="text/ng-template" id="booking-form-widget/field/4">
		<label class="control-label">If Minor, Parent`s Name</label>
		<input type="text" ng-model="bookingVm.booking.patient.parents_name" class='form-control input-sm' placeholder='Type' />
	</script>
	<script type="text/ng-template" id="booking-form-widget/field/5">
		<label class="control-label">Address</label>
		<input type="text" ng-model="bookingVm.booking.patient.home_address" class='form-control input-sm' placeholder='Type' />
	</script>
	<script type="text/ng-template" id="booking-form-widget/field/6">
		<label class="control-label">Apt #</label>
		<input type="text" ng-model="bookingVm.booking.patient.home_apt_number" class='form-control input-sm' placeholder='Type' />
	</script>
	<script type="text/ng-template" id="booking-form-widget/field/7">
		<div class="geo-field state">
			<label class="control-label">State</label>
			<opk-select class="small" ng-model="bookingVm.booking.patient.home_state"
			            options="item.name for item in geoVm.states" placeholder='Type or select'></opk-select>
		</div>
		<div class="custom-state">
			<label class="control-label">State</label>
			<input type="text" ng-model="bookingVm.booking.patient.custom_home_state" placeholder='Type' class="form-control input-sm" />
		</div>
	</script>
	<script type="text/ng-template" id="booking-form-widget/field/8">
		<div class="geo-field city">
			<label class="control-label geo-field city">City</label>
			<opk-select select-options="{appendToBody: true, fixedDropdownWidth: true, autocompleteOnly: true, newItemFn: 'geoVm.newCity($query)', newItemUseLabel: true, newItemLabel: 'Add City'}"
			            class="small"
			            ng-model="bookingVm.booking.patient.home_city"
			            options="city as city.name for city in geoVm.cities"
			            placeholder="Type"></opk-select>
		</div>
		<div class="custom-city">
			<label class="control-label">City</label>
			<input type="text" ng-model="bookingVm.booking.patient.custom_home_city" placeholder='Type' class="form-control input-sm" />
		</div>
	</script>
	<script type="text/ng-template" id="booking-form-widget/field/9">
		<div class="zip-code">
			<label class="control-label geo-field zip-code">ZIP code</label>
			<input type="text" ng-model="bookingVm.booking.patient.home_zip_code" class="form-control input-sm" placeholder='Type' />
		</div>
	</script>
	<script type="text/ng-template" id="booking-form-widget/field/10">
		<div class="country">
			<label class="control-label">Country</label>
			<opk-select class="small" ng-model="bookingVm.booking.patient.home_country"
			            options="item.name for item in geoVm.countries" placeholder='Type or select'></opk-select>
		</div>
	</script>
	<script type="text/ng-template" id="booking-form-widget/field/11">
		<div class="row">
			<div class="col-sm-6">
				<label class="control-label">Phone #</label>
				<phone ng-model="bookingVm.booking.patient.home_phone"></phone>
			</div>
			<div class="col-sm-6">
				<label class="control-label">Type</label>
				<opk-select class="small disable-arrow" ng-model="bookingVm.booking.patient.home_phone_type" key-value-options="patientConst.TYPE_PHONE" placeholder='Type or select'></opk-select>
			</div>
		</div>
	</script>
	<script type="text/ng-template" id="booking-form-widget/field/12">
		<div class="row">
			<div class="col-sm-6">
				<label class="control-label">Additional Phone #</label>
				<phone ng-model="bookingVm.booking.patient.additional_phone"></phone>
			</div>
			<div class="col-sm-6">
				<label class="control-label">Type</label>
				<opk-select class="small disable-arrow" ng-model="bookingVm.booking.patient.additional_phone_type" key-value-options="patientConst.TYPE_PHONE" placeholder='Type or select'></opk-select>
			</div>
		</div>
	</script>
	<script type="text/ng-template" id="booking-form-widget/field/13">
		<label class="control-label">Email</label>
		<input type="text" ng-model="bookingVm.booking.patient.home_email" class='form-control input-sm' placeholder='Type' />
	</script>
	<script type="text/ng-template" id="booking-form-widget/field/14">
		<label class="control-label" ng-class="{'invalid': !bookingVm.booking.patient.dob}">Date of Birth</label>
		<div class="short-date" booking-check-patient-exists="bookingVm.booking.patient">
			<date-field ng-model="bookingVm.booking.patient.dob" small="true" without-calendar="true"></date-field>
		</div>
	</script>
	<script type="text/ng-template" id="booking-form-widget/field/15">
		<label class="control-label">Social Security #</label>
		<ssn ng-model="bookingVm.booking.patient.ssn"></ssn>
	</script>
	<script type="text/ng-template" id="booking-form-widget/field/16">
		<label class="control-label">Gender</label>
		<opk-select class="small" ng-model="bookingVm.booking.patient.gender" key-value-options="patientConst.GENDERS" placeholder='Type or select' select-options="{listFilter: 'opkSelectEmptyField'}"></opk-select>
	</script>
	<script type="text/ng-template" id="booking-form-widget/field/17">
		<label class="control-label">Marital Status</label>
		<opk-select class="small" select-options="{listFilter: 'opkSelectEmptyField'}" ng-model="bookingVm.booking.patient.status_marital" key-value-options="patientConst.STATUSES_MARITAL"></opk-select>
	</script>
	<script type="text/ng-template" id="booking-form-widget/field/18">
		<div class="row">
			<div class="col-sm-6">
				<label class="control-label">Emergency Contact</label>
				<input type="text" ng-model="bookingVm.booking.patient.ec_name" class='form-control input-sm' placeholder='Type' />
			</div>
			<div class="col-sm-6">
				<label class="control-label">Relationship</label>
				<opk-select class="small" select-options="{listFilter: 'opkSelectEmptyField'}" placeholder='Type or select' ng-model="bookingVm.booking.patient.ec_relationship" key-value-options="patientConst.RELATIONSHIP"></opk-select>
			</div>
		</div>
	</script>
	<script type="text/ng-template" id="booking-form-widget/field/19">
		<div class="row">
			<div class="col-sm-6">
				<label class="control-label">Emergency Phone #</label>
				<phone ng-model="bookingVm.booking.patient.ec_phone_number"></phone>
			</div>
			<div class="col-sm-6">
				<label class="control-label">Type</label>
				<opk-select class="small disable-arrow" ng-model="bookingVm.booking.patient.ec_phone_type" key-value-options="patientConst.TYPE_PHONE" placeholder='Type or select'></opk-select>
			</div>
		</div>
	</script>
	<script type="text/ng-template" id="booking-form-widget/field/20">
		<label class="control-label" ng-class="{'invalid': !bookingVm.booking.users.length}">Surgeon:</label>
		<opk-select ng-disabled="!permissions.hasAccess('booking', 'edit_assigned_users')" ng-model="bookingVm.booking.users" multiple options="user.fullname for user in source.getSurgeons()"></opk-select>
	</script>
	<script type="text/ng-template" id="booking-form-widget/field/21">
		<label class="control-label">Surgeon Assistant:</label>
		<opk-select ng-model="bookingVm.booking.assistant" multiple options="user.fullname for user in source.getSurgeonsAndAssistant()"></opk-select>
	</script>
	<script type="text/ng-template" id="booking-form-widget/field/22">
		<label class="control-label">Other Staff:</label>
		<opk-select ng-model="bookingVm.booking.other_staff" multiple options="user.fullname for user in source.getUsers()"></opk-select>
	</script>
	<script type="text/ng-template" id="booking-form-widget/field/24">
		<label class="control-label">Admission Type:</label>
		<div class="opk-codes--select">
			<opk-select select-options="{appendToBody: true}" ng-model="bookingVm.booking.admission_type" key-value-options="caseRegistrationConst.ADMISSION_TYPE"></opk-select>
		</div>
	</script>
	<script type="text/ng-template" id="booking-form-widget/field/25">
		<label class="control-label">Room:</label>
		<opk-select select-options="{listFilter: 'opkSelectEmptyFieldIdName'}" ng-model="bookingVm.booking.room" options="location.name for location in source.getLocations()"></opk-select>
	</script>
	<script type="text/ng-template" id="booking-form-widget/field/26">
		<label class="control-label">Point of Origin for Admission or Visit:</label>
		<div class="opk-codes--select">
			<opk-select
					class="small"
					select-options="{appendToBody: true}"
					ng-model="bookingVm.booking.point_of_origin"
					key-value-options="caseRegistrationConst.POINT_OF_ORIGIN"></opk-select>
		</div>
	</script>
	<script type="text/ng-template" id="booking-form-widget/field/27">
		<label class="control-label" ng-class="{'invalid': !bookingVm.booking.time_start}">Date of Service:</label>
		<div>
			<date-field ng-model="bookingVm.booking.time_start"  icon="true"></date-field>
		</div>
	</script>
	<script type="text/ng-template" id="booking-form-widget/field/28">
		<label class="control-label" ng-class="{'invalid': !bookingVm.booking.time_start}">Time Start:</label>
		<opk-timepicker ng-model="bookingVm.booking.time_start"></opk-timepicker>
	</script>
	<script type="text/ng-template" id="booking-form-widget/field/29">
		<label class="control-label" ng-class="{'invalid': bookingVm.isLengthOfCaseInvalid() }">Length of Case:</label>
		<div class="data-row">
			<time-length start="bookingVm.booking.time_start" end="bookingVm.booking.time_end" minutes-step="5"></time-length>
		</div>
	</script>
	<script type="text/ng-template" id="booking-form-widget/field/30">
		<div class="row">
			<div class="col-sm-6">
				<div class="col-sm-12 without-left-padding">
					<label class="control-label">Is patient employed and unable to work due to this illness?</label>
				</div>
				<div class="col-sm-2 radio-column">
					<div class="radio">
						<input id="is_unable_to_work-no" type="radio" name="is_unable_to_work-yes-no" ng-model="bookingVm.booking.is_unable_to_work" ng-value="false">
						<label for="is_unable_to_work-no">No</label>
					</div>
				</div>
				<div class="col-sm-2 radio-column">
					<div class="radio">
						<input id="is_unable_to_work-yes" type="radio" name="is_unable_to_work-yes-no" ng-model="bookingVm.booking.is_unable_to_work" ng-value="true">
						<label for="is_unable_to_work-yes">Yes</label>
					</div>
				</div>
			</div>
			<div class="col-sm-6" ng-if="bookingVm.booking.is_unable_to_work">
				<div class="col-sm-12 without-left-padding">
					<label class="control-label">What dates was patient unable to work?</label>
				</div>
				<div class="col-sm-6 without-left-padding">
					<span>From:</span>
					<div>
						<date-field ng-model="bookingVm.booking.unable_to_work_from" icon="true"></date-field>
					</div>
				</div>
				<div class="col-sm-6 without-right-padding">
					<span>To:</span>
					<div>
						<date-field ng-model="bookingVm.booking.unable_to_work_to" icon="true"></date-field>
					</div>
				</div>
			</div>
		</div>
	</script>
	<script type="text/ng-template" id="booking-form-widget/field/31">
		<label class="control-label" ng-class="{'invalid': !bookingVm.booking.additional_cpts.length}">Proposed Procedure Codes:</label>
		<div class="opk-codes--select">
			<opk-select select-options="{appendToBody: true, fixedDropdownWidth: true, autocompleteOnly: true, searchFilter: 'opkSelectCpt', reorder: true}"
			            ng-model="bookingVm.booking.additional_cpts" change="caseVm.changeAdditionalCpts(case)" multiple options="type.full_name for type in source.getCaseTypes($query)" placeholder="Type"></opk-select>
		</div>
	</script>
	<script type="text/ng-template" id="booking-form-widget/field/32">
		<label class="control-label" ng-class="{'invalid': loggedUser.isSatelliteOffice() && !bookingVm.booking.location}">Location</label>
		<opk-select class="small" select-options="{listFilter: 'opkSelectEmptyField'}" placeholder='Type or select' ng-model="bookingVm.booking.location" key-value-options="caseRegistrationConst.LOCATION"></opk-select>
	</script>
	<script type="text/ng-template" id="booking-form-widget/field/33">
		<label class="control-label">Date of injury/illness onset:</label>
		<div>
			<date-field ng-model="bookingVm.booking.date_of_injury" icon="true"></date-field>
		</div>
	</script>
	<script type="text/ng-template" id="booking-form-widget/field/34">
		<label class="control-label" ng-class="{'invalid': !bookingVm.booking.admitting_diagnosis.length}">Primary Diagnosis:</label>
		<div class="opk-codes--select">
			<opk-select select-options="{appendToBody: true, fixedDropdownWidth: true, autocompleteOnly: true}" ng-model="bookingVm.booking.admitting_diagnosis"
			            options="(type.code ? (type.code + ' - ' +  type.desc) : null) for type in source.getIcds($query, bookingVm.getYearAddingForICDs())" placeholder="Search ICD-10 Codes" multiple></opk-select>
		</div>
	</script>
	<script type="text/ng-template" id="booking-form-widget/field/35">
		<label class="control-label">Secondary Diagnosis:</label>
		<div class="opk-codes--select">
			<opk-select select-options="{appendToBody: true, fixedDropdownWidth: true, autocompleteOnly: true}" ng-model="bookingVm.booking.secondary_diagnosis" multiple
			            options="(type.code ? (type.code + ' - ' +  type.desc) : null) for type in source.getIcds($query, bookingVm.getYearAddingForICDs())" placeholder="Search ICD-10 Codes"></opk-select>
		</div>
	</script>
	<script type="text/ng-template" id="booking-form-widget/field/36">
		<label class="control-label" ng-class="{'invalid': loggedUser.isSatelliteOffice() && !bookingVm.booking.pre_op_required_data.length}">Pre-Op Data Required</label>
		<opk-select placeholder='Type or select' ng-model="bookingVm.booking.pre_op_required_data" key-value-options="caseRegistrationConst.PRE_OP_DATA_REQUIRED" multiple></opk-select>
	</script>
	<script type="text/ng-template" id="booking-form-widget/field/37">
		<label class="control-label" ng-class="{'invalid': loggedUser.isSatelliteOffice() && !bookingVm.booking.studies_ordered.length}">Studies Ordered</label>
		<opk-select placeholder='Type or select' ng-model="bookingVm.booking.studies_ordered" key-value-options="caseRegistrationConst.STUDIES_ORDERED" multiple></opk-select>
	</script>
	<script type="text/ng-template" id="booking-form-widget/field/38">
		<label class="control-label">Anesthesia Type:</label>
		<opk-select select-options="{appendToBody: true, listFilter: 'opkSelectEmptyField'}" ng-model="bookingVm.booking.anesthesia_type" key-value-options="caseRegistrationConst.ANESTHESIA_TYPE"></opk-select>
	</script>
	<script type="text/ng-template" id="booking-form-widget/field/39">
		<label class="control-label">Special Equipment:</label>
		<input class="form-control" type="text" ng-model="bookingVm.booking.special_equipment_implants" placeholder="Type">
	</script>
	<script type="text/ng-template" id="booking-form-widget/field/40">
		<label class="control-label">Transport:</label>
		<input class="form-control" type="text" ng-model="bookingVm.booking.transportation_notes">
	</script>
	<script type="text/ng-template" id="booking-form-widget/field/41">
		<label class="control-label">Implants:</label>
		<input class="form-control" type="text" ng-model="bookingVm.booking.implants" placeholder="Type">

	</script>
	<script type="text/ng-template" id="booking-form-widget/field/42">
		<label class="control-label">Description:</label>
		<textarea class="form-control" ng-model="bookingVm.booking.description" placeholder="Type"></textarea>
	</script>
	<script type="text/ng-template" id="booking-form-widget/field/43">
		<div ng-if="bookingVm.booking.point_of_origin == 2">
			<label class="control-label">NPI of referring provider:</label>
			<input class="form-control" type="text" ng-model="bookingVm.booking.referring_provider_npi" placeholder="Type">
		</div>
	</script>
	<script type="text/ng-template" id="booking-form-widget/field/44">
		<div ng-if="bookingVm.booking.point_of_origin == 2">
			<label class="control-label">Name of referring provider or source:</label>
			<input class="form-control" type="text" ng-model="bookingVm.booking.referring_provider_name" placeholder="Type">
		</div>
	</script>
	<script type="text/ng-template" id="booking-form-widget/field/45">
		<div class="row">
			<div ng-if="bookingVm.booking.display_point_of_contact" class="col-sm-6">
				<label class="control-label">Point of Contact SMS #</label>
				<phone ng-model="bookingVm.booking.patient.point_of_contact_phone"></phone>
			</div>
			<div ng-if="bookingVm.booking.display_point_of_contact" class="col-sm-6">
				<label class="control-label">Type</label>
				<opk-select class="small disable-arrow" ng-model="bookingVm.booking.patient.point_of_contact_phone_type" key-value-options="patientConst.TYPE_PHONE" placeholder='Type or select'></opk-select>
			</div>
		</div>
	</script>

	<script type="text/ng-template" id="booking-form-widget/main">
		<div class="booking-form-widget-body">
			<div class="booking-form-widget">
				<div ng-form="patient_info" class="row" show-loading-list="!isCompiled">
					<div class="col-sm-12 widget-patient-info-form" geo model="bookingVm.booking.patient" props="{country: 'home_country', state: 'home_state', city: 'home_city', custom_state: 'custom_home_state', custom_city: 'custom_home_city'}">

					</div>
				</div>

				<h3>Case Information</h3>
				<div class="row" show-loading-list="!isCompiled">
					<div class="col-sm-12 widget-case-info-form">
						<div class="row" ng-repeat="fieldsRow in widgetVm.caseDetailsFieldsRows">

						</div>
					</div>
				</div>
			</div>
		</div>
	</script>
</div>