<div class="row">
	<div class="col-sm-2">
		NPI#:
	</div>
	<div class="col-sm-3">
		<input class="form-control" type="text" ng-model="crVm.credentials.npi_number">
	</div>
	<div class="col-sm-4"></div>
	<div class="col-sm-3 file">
		<div ng-show="crVm.credentials.npi_file.url" class="uploaded-file">
			<a href="" class="icon doc-icon" ng-click="crVm.preview(crVm.credentials.npi_file)">
				<i class="icon-note"></i>
			</a>
			<div class="uploaded-date">
				<a href="" ng-click="crVm.preview(crVm.credentials.npi_file)">Uploaded: {{ crVm.credentials.npi_file.uploaded_date | date:'M/d/yyyy'}}</a>
			</div>
			<div class="upload-new">
				<a href=""
				   uib-tooltip="Upload"
				   class="btn-file"
					select-file
				   on-select="crVm.uploadFile(files, 'npi_file')">
					Upload New
					<input type="file" name="fileDoc"/>
				</a>
			</div>
		</div>
		<div ng-show="!crVm.credentials.npi_file.url" class="uploaded-file">
			<a href=""
			   uib-tooltip="Upload"
			   class="btn-file"
			   select-file
			   on-select="crVm.uploadFile(files, 'npi_file')">
				<i class="icon-cloud-upload-grey"></i>
				<input type="file" name="fileDoc"/>
			</a>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-2">
		<i ng-if="crVm.alert.medical_licence_exp_date" class="icon-red-warning"></i>
		Med License:
	</div>
	<div class="col-sm-3">
		<input class="form-control" type="text" ng-model="crVm.credentials.medical_licence_number">
	</div>
	<div class="col-sm-4">
		<div class=" data-row date-block">
			<label class="control-label">Expiration Date:</label>
			<date-field ng-model="crVm.credentials.medical_licence_exp_date" icon="true"></date-field>
		</div>
	</div>
	<div class="col-sm-3 file">
		<div ng-show="crVm.credentials.medical_licence_file.url" class="uploaded-file">
			<a href="" class="icon doc-icon" ng-click="crVm.preview(crVm.credentials.medical_licence_file)">
				<i class="icon-note"></i>
			</a>
			<div class="uploaded-date">
				<a href="" ng-click="crVm.preview(crVm.credentials.medical_licence_file)">Uploaded: {{ crVm.credentials.medical_licence_file.uploaded_date | date:'M/d/yyyy'}}</a>
			</div>
			<div class="upload-new">
				<a href=""
				   uib-tooltip="Upload"
				   class="btn-file"
				   select-file
				   on-select="crVm.uploadFile(files, 'medical_licence_file')">
					Upload New
					<input type="file" name="fileDoc"/>
				</a>
			</div>
		</div>
		<div ng-show="!crVm.credentials.medical_licence_file.url" class="uploaded-file">
			<a href=""
			   uib-tooltip="Upload"
			   class="btn-file"
			   select-file
			   on-select="crVm.uploadFile(files, 'medical_licence_file')">
				<i class="icon-cloud-upload-grey"></i>
				<input type="file" name="fileDoc"/>
			</a>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-2">
		<i ng-if="crVm.alert.dea_exp_date" class="icon-red-warning"></i>
		DEA:
	</div>
	<div class="col-sm-3">
		<input class="form-control" type="text" ng-model="crVm.credentials.dea_number">
	</div>
	<div class="col-sm-4">
		<div class=" data-row date-block">
			<label class="control-label">Expiration Date:</label>
			<date-field ng-model="crVm.credentials.dea_exp_date" icon="true"></date-field>
		</div>
	</div>
	<div class="col-sm-3 file">
		<div ng-show="crVm.credentials.dea_file.url" class="uploaded-file">
			<a href="" class="icon doc-icon" ng-click="crVm.preview(crVm.credentials.dea_file)">
				<i class="icon-note"></i>
			</a>
			<div class="uploaded-date">
				<a href="" ng-click="crVm.preview(crVm.credentials.dea_file)">Uploaded: {{ crVm.credentials.dea_file.uploaded_date | date:'M/d/yyyy'}}</a>
			</div>
			<div class="upload-new">
				<a href=""
				   uib-tooltip="Upload"
				   class="btn-file"
				   select-file
				   on-select="crVm.uploadFile(files, 'dea_file')">
					Upload New
					<input type="file" name="fileDoc"/>
				</a>
			</div>
		</div>
		<div ng-show="!crVm.credentials.dea_file.url" class="uploaded-file">
			<a href=""
			   uib-tooltip="Upload"
			   class="btn-file"
			   select-file
			   on-select="crVm.uploadFile(files, 'dea_file')">
				<i class="icon-cloud-upload-grey"></i>
				<input type="file" name="fileDoc"/>
			</a>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-2">
		<i ng-if="crVm.alert.cds_exp_date" class="icon-red-warning"></i>
		CDS:
	</div>
	<div class="col-sm-3">
		<input class="form-control" type="text" ng-model="crVm.credentials.cds_number">
	</div>
	<div class="col-sm-4">
		<div class=" data-row date-block">
			<label class="control-label">Expiration Date:</label>
			<date-field ng-model="crVm.credentials.cds_exp_date" icon="true"></date-field>
		</div>
	</div>
	<div class="col-sm-3 file">
		<div ng-show="crVm.credentials.cds_file.url" class="uploaded-file">
			<a href="" class="icon doc-icon" ng-click="crVm.preview(crVm.credentials.cds_file)">
				<i class="icon-note"></i>
			</a>
			<div class="uploaded-date">
				<a href="" ng-click="crVm.preview(crVm.credentials.cds_file)">Uploaded: {{ crVm.credentials.cds_file.uploaded_date | date:'M/d/yyyy'}}</a>
			</div>
			<div class="upload-new">
				<a href=""
				   uib-tooltip="Upload"
				   class="btn-file"
				   select-file
				   on-select="crVm.uploadFile(files, 'cds_file')">
					Upload New
					<input type="file" name="fileDoc"/>
				</a>
			</div>
		</div>
		<div ng-show="!crVm.credentials.cds_file.url" class="uploaded-file">
			<a href=""
			   uib-tooltip="Upload"
			   class="btn-file"
			   select-file
			   on-select="crVm.uploadFile(files, 'cds_file')">
				<i class="icon-cloud-upload-grey"></i>
				<input type="file" name="fileDoc"/>
			</a>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-2">
		ECFMG:
	</div>
	<div class="col-sm-3">
		<input class="form-control" type="text" ng-model="crVm.credentials.ecfmg">
	</div>
</div>

<div class="row">
	<div class="col-sm-2">
		Taxonomy Code:
	</div>
	<div class="col-sm-3">
		<input class='form-control' type='text' ng_model="crVm.credentials.taxonomy_code" />
	</div>
</div>
<div class="row">
	<div class="col-sm-2">
		TIN:
	</div>
	<div class="col-sm-3">
		<input class='form-control' type='text' ng_model="crVm.credentials.tin" />
	</div>
</div>


<div class="row">
	<div class="col-sm-2">
		<i ng-if="crVm.alert.insurance_exp_date || crVm.alert.insurance_reappointment_date" class="icon-red-warning"></i>
		Insurance:
	</div>
	<div class="col-sm-3">
		<input class="form-control" type="text" ng-model="crVm.credentials.insurance">
	</div>
	<div class="col-sm-4">
		<div class=" data-row date-block bottom-buffer">
			<label class="control-label">Expiration Date:</label>
			<date-field ng-model="crVm.credentials.insurance_exp_date" icon="true"></date-field>
		</div>
		<div class=" data-row date-block">
			<label class="control-label">Reappointment:</label>
			<date-field ng-model="crVm.credentials.insurance_reappointment_date" icon="true"></date-field>
		</div>
	</div>
	<div class="col-sm-3 file">
		<div ng-show="crVm.credentials.insurance_file.url" class="uploaded-file">
			<a href="" class="icon doc-icon" ng-click="crVm.preview(crVm.credentials.insurance_file)">
				<i class="icon-note"></i>
			</a>
			<div class="uploaded-date">
				<a href="" ng-click="crVm.preview(crVm.credentials.insurance_file)">Uploaded: {{ crVm.credentials.insurance_file.uploaded_date | date:'M/d/yyyy'}}</a>
			</div>
			<div class="upload-new">
				<a href=""
				   uib-tooltip="Upload"
				   class="btn-file"
				   select-file
				   on-select="crVm.uploadFile(files, 'insurance_file')">
					Upload New
					<input type="file" name="fileDoc"/>
				</a>
			</div>
		</div>
		<div ng-show="!crVm.credentials.insurance_file.url" class="uploaded-file">
			<a href=""
			   uib-tooltip="Upload"
			   class="btn-file"
			   select-file
			   on-select="crVm.uploadFile(files, 'insurance_file')">
				<i class="icon-cloud-upload-grey"></i>
				<input type="file" name="fileDoc"/>
			</a>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-2">
		<i ng-if="crVm.alert.acls_date" class="icon-red-warning"></i>
		ACLS:
	</div>
	<div class="col-sm-3">
		<date-field ng-model="crVm.credentials.acls_date" icon="true"></date-field>
	</div>
	<div class="col-sm-4">
	</div>
	<div class="col-sm-3 file">
		<div ng-show="crVm.credentials.acls_file.url" class="uploaded-file">
			<a href="" class="icon doc-icon" ng-click="crVm.preview(crVm.credentials.acls_file)">
				<i class="icon-note"></i>
			</a>
			<div class="uploaded-date">
				<a href="" ng-click="crVm.preview(crVm.credentials.acls_file)">Uploaded: {{ crVm.credentials.acls_file.uploaded_date | date:'M/d/yyyy'}}</a>
			</div>
			<div class="upload-new">
				<a href=""
				   uib-tooltip="Upload"
				   class="btn-file"
				   select-file
				   on-select="crVm.uploadFile(files, 'acls_file')">
					Upload New
					<input type="file" name="fileDoc"/>
				</a>
			</div>
		</div>
		<div ng-show="!crVm.credentials.acls_file.url" class="uploaded-file">
			<a href=""
			   uib-tooltip="Upload"
			   class="btn-file"
			   select-file
			   on-select="crVm.uploadFile(files, 'acls_file')">
				<i class="icon-cloud-upload-grey"></i>
				<input type="file" name="fileDoc"/>
			</a>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-2">
		<h3>Immunizations:</h3>
	</div>
	<div class="col-sm-7">
	</div>
		<div class="col-sm-3 file">
		<div ng-show="crVm.credentials.immunizations_file.url" class="uploaded-file">
			<a href="" class="icon doc-icon" ng-click="crVm.preview(crVm.credentials.immunizations_file)">
				<i class="icon-note"></i>
			</a>
			<div class="uploaded-date">
				<a href="" ng-click="crVm.preview(crVm.credentials.immunizations_file)">Uploaded: {{ crVm.credentials.immunizations_file.uploaded_date | date:'M/d/yyyy'}}</a>
			</div>
			<div class="upload-new">
				<a href=""
				   uib-tooltip="Upload"
				   class="btn-file"
				   select-file
				   on-select="crVm.uploadFile(files, 'immunizations_file')">
					Upload New
					<input type="file" name="fileDoc"/>
				</a>
			</div>
		</div>
		<div ng-show="!crVm.credentials.immunizations_file.url" class="uploaded-file">
			<a href=""
			   uib-tooltip="Upload"
			   class="btn-file"
			   select-file
			   on-select="crVm.uploadFile(files, 'immunizations_file')">
				<i class="icon-cloud-upload-grey"></i>
				<input type="file" name="fileDoc"/>
			</a>
		</div>
	</div>
</div>

<div class="row immunizations-list">
	<div class="col-sm-3">
		<div class=" data-row date-block bottom-buffer">
			<i ng-if="crVm.alert.immunizations_ppp_due" class="icon-red-warning"></i>
			<label class="control-label">PPD Due:</label>
			<date-field ng-model="crVm.credentials.immunizations_ppp_due" icon="true"></date-field>
		</div>
		<div class=" data-row date-block">
			<i ng-if="crVm.alert.immunizations_varicela" class="icon-red-warning"></i>
			<label class="control-label">Varicella:</label>
			<date-field ng-model="crVm.credentials.immunizations_varicela" icon="true"></date-field>
		</div>
	</div>
	<div class="col-sm-3">
		<div class=" data-row date-block bottom-buffer">
			<i ng-if="crVm.alert.immunizations_help_b" class="icon-red-warning"></i>
			<label class="control-label">Hep B:</label>
			<date-field ng-model="crVm.credentials.immunizations_help_b" icon="true"></date-field>
		</div>
		<div class=" data-row date-block">
			<i ng-if="crVm.alert.immunizations_mumps" class="icon-red-warning"></i>
			<label class="control-label">Mumps:</label>
			<date-field ng-model="crVm.credentials.immunizations_mumps" icon="true"></date-field>
		</div>
	</div>
	<div class="col-sm-3">
		<div class=" data-row date-block bottom-buffer">
			<i ng-if="crVm.alert.immunizations_rubella" class="icon-red-warning"></i>
			<label class="control-label">Rubella:</label>
			<date-field ng-model="crVm.credentials.immunizations_rubella" icon="true"></date-field>
		</div>
		<div class=" data-row date-block">
			<i ng-if="crVm.alert.immunizations_flue" class="icon-red-warning"></i>
			<label class="control-label">Flu:</label>
			<date-field ng-model="crVm.credentials.immunizations_flue" icon="true"></date-field>
		</div>
	</div>
	<div class="col-sm-3">
		<div class=" data-row date-block">
			<i ng-if="crVm.alert.immunizations_rubeola" class="icon-red-warning"></i>
			<label class="control-label">Rubeola:</label>
			<date-field ng-model="crVm.credentials.immunizations_rubeola" icon="true"></date-field>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-2">
		<i ng-if="crVm.alert.retest_date" class="icon-red-warning"></i>
		Retest Date:
	</div>
	<div class="col-sm-3">
		<date-field ng-model="crVm.credentials.retest_date" icon="true"></date-field>
	</div>
</div>

<div class="row">
	<div class="col-sm-2">
		UPIN:
	</div>
	<div class="col-sm-3">
		<input class="form-control" type="text" ng-model="crVm.credentials.upin">
	</div>
</div>