<div class="row">
	<div class="col-sm-6">
		<div class="row">
			<div class="col-sm-12">
				<label class="control-label">Insurance Company*</label>
				<div class="form-control input-sm">{{ item.data.insurance.name }}</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<label class="control-label">Address*</label>
				<div class="form-control input-sm">{{ item.data.address_insurance }}</div>
			</div>
		</div>
	</div>
	<div class="col-sm-6">
		<div class="row">
			<div class="col-sm-6">
				<label class="control-label">Policy #*</label>
				<div class="form-control input-sm">{{ item.data.policy_number }}</div>
			</div>
			<div class="col-sm-6">
				<label class="control-label">Group #*</label>
				<div class="form-control input-sm">{{ item.data.group_number }}</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<label class="control-label">Provider Phone #</label>
				<div class="form-control input-sm">{{ item.data.provider_phone }}</div>
			</div>
		</div>
	</div>
</div>