<div class="modal-header">
	<h4>Preview Document</h4>
	<div class="pull-right">
		<button class="btn btn-success print-btn" print-iframe="{{docsVm.getPrintDocUrl(doc)}}" >Print</button>
		<a href="" ng-click="cancel()" class="cancel"><i class="glyphicon glyphicon-remove"></i></a>
	</div>
</div>
<div class="modal-body">
	<embed
			type="{{doc.mime_type}}"
			src="{{doc.url + '&to_download=false'}}"
			id="pdfDocument"
			width="100%"
			height="100%">
	</embed>
</div>
<div class="modal-footer">
</div>