<div class="modal-body">
	<div class="data-row">
		<a href="" class="pull-right" ng-click="cancel()"><i class="icon-close-x"></i></a>
	</div>
	<div class="row">
		<div class="col-sm-12 text-center">
			<a class="btn btn-success" href="" ng-click="buttonVm.createBooking()">Create Booking</a>
		</div>
	</div>
	<div class="row top-buffer">
		<div class="col-sm-12 text-center">
			<a class="btn btn-primary" href="" ng-click="ok()">Schedule in Service</a>
		</div>
	</div>
</div>
<div class="modal-footer">
</div>