<filters-panel ctrl="listVm">
	<div class="data-row">
		<label>Date from</label>
		<div class="input-group">
			<date-field ng-model="listVm.search_params.date_from" icon="true" placeholder="Select" small="true"></date-field>
		</div>

	</div>
	<div class="data-row">
		<label>Date to</label>
		<div class="input-group">
			<date-field ng-model="listVm.search_params.date_to" icon="true" placeholder="Select" small="true"></date-field>
		</div>
	</div>
	<div class="data-row">
		<label># items from</label>
		<input type="text" ng-model="listVm.search_params.count_from" valid-number class='form-control input-sm' placeholder='Type' />
	</div>
	<div class="data-row">
		<label># items to</label>
		<input type="text" ng-model="listVm.search_params.count_to" valid-number class='form-control input-sm' placeholder='Type' />
	</div>
	<div class="data-row">
		<label>PO number</label>
		<input type="text" ng-model="listVm.search_params.order_id" valid-number class="form-control input-sm" placeholder='Type' />
	</div>
	<div class="data-row">
		<label>Vendor</label>
		<opk-select ng-model="listVm.search_params.vendor" options="item.name as item.name for item in source.getVendors($query, 'dist')"></opk-select>
	</div>
</filters-panel>

<div class="list-control">
	<a ng-if="listVm.type === 'outgoing'" class="btn btn-success" href="/orders/outgoing/{{ ::org_id }}/adding/">New Order</a>
</div>
