<div class="modal-header">
	<h4 class="modal-title" ng-if="!scheduledPasswordChange">Change of password is required</h4>
	<h4 class="modal-title" ng-if="scheduledPasswordChange">It has been {{countOfDaysForPasswordChange}} days since your password has been updated, please change your password</h4>
</div>
<div class="modal-body password-change-modal" submit-by-enter="savePassword()">
		<div class="password-hint">
			Password must be at least 8 characters long and include at least one capital letter, one lowercase letter, one special (symbol) character.
		</div>
		<h5>Please enter your new password:</h5>
		<input type="password" class="form-control" ng-model="newPassword"/>
		<h5>Confirm password:</h5>
		<input type="password" class="form-control" ng-model="newPasswordConfirm"/>
		<div class="alert alert-danger" ng-show="currentError">
			{{currentError}}
		</div>
</div>
<div class="modal-footer">
	<button class="btn btn-primary" ng-click="savePassword()">Save</button>
</div>