<div class="row">
	<div class="col-sm-6">
		<h2>Appointment Reminder SMS</h2>
		<switch class="green" ng-model="templateVm.template.reminder_sms"></switch>
	</div>
	<div class="col-sm-6 text-right">
		<a class="btn btn-grey" href="" ng-click="templateVm.cancel()">Cancel</a>
		<a class="btn btn-success" href="" ng-click="templateVm.save()">Save</a>
	</div>
</div>
<div class="right-shifted--block">
	<div class="data-row">
		Send SMS <input type="text" maxlength="2" class="form-control input-sm hours-before--input" ng-model="templateVm.template.hours_before"  /> Hours before scheduled appointment
	</div>
	<div>Message</div>
	<textarea class="form-control" ng-model="templateVm.template.schedule_msg"></textarea>
</div>
<div class="row">
	<div class="col-sm-6">
		<h2>Point of Contact SMS</h2>
		<switch class="green" ng-model="templateVm.template.poc_sms"></switch>
	</div>
</div>
<div class="right-shifted--block">
	<div>Message</div>
	<textarea class="form-control" ng-model="templateVm.template.poc_msg"></textarea>
</div>

<div ng-if="permissions.user.is_internal">
	<div class="row">
		<div class="col-sm-6">
			<h2>Account Information</h2>
		</div>
	</div>
	<div class="right-shifted--block acc-info">
		<div class="data-row">
			<label>Account SID</label>
			<input type="text" class="form-control input-sm" ng-model="templateVm.template.acc_sid">
		</div>
		<div class="data-row">
			<label>Auth Token</label>
			<input type="text" class="form-control input-sm" ng-model="templateVm.template.auth_token">
		</div>
	</div>
</div>
