<div class="modal-body">
	<ng-include src="view.get('inventory/filters.html')" onLoad="listVm = itemsVm;"></ng-include>
	<div class="list-control">
		<a href="" class="btn btn-danger" ng-click="cancel()">Cancel</a>
	</div>

	<div ng-if="!itemsVm.search_items.length">
		<h4>No inventory found</h4>
	</div>
</div>

<table class="opake" ng-if="itemsVm.search_items.length">
	<thead>
	<tr>
		<th></th>
		<th class="width-25">Item</th>
		<th>Type</th>
		<th>Manufacturer</th>
		<th>MMIS ID</th>
		<th></th>
	</tr>
	</thead>
	<tbody>
	<tr ng-repeat="item in itemsVm.search_items">
		<td><img src="{{ item.image }}" /></td>
		<td><a href='/inventory/{{ ::org_id }}/view/{{ item.id }}' read-more>{{ item.name }}</a></td>
		<td>{{ item.type }}</td>
		<td>{{ item.manf.name }}</td>
		<td>{{ item.mmis }}</td>
		<td class="text-right">
			<button type="button" class="btn btn-success" ng-click="itemsVm.addItem(item)" ng-disabled="!itemsVm.checkItem(item)"><i class="glyphicon glyphicon-plus"></i> Add Item</button>
		</td>
	</tr>
	</tbody>
</table>